<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <input type="text" data-bind="value: settings.plugins.opitemp.rate"><span class="help-inline">Refresh rate in seconds</span>
        </div>
    </div>
</form>
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <input type="text" data-bind="value: settings.plugins.opitemp.emoji"><span class="help-inline">HTML emoji code to use as icon</span>
        </div>
    </div>
</form>
